@model ItemAsset
@{

    ViewData["Title"] = "Item Details";
    ViewBag.Title = "Item Details";
}

<h2>Item Details</h2>


<div>

    <dl class="row">
        <dt class="col-sm-3">Item ID:</dt>
        <dd class="col-sm-9">@Model.ItemId</dd>

        <dt class="col-sm-3">Product Name:</dt>
        <dd class="col-sm-9">@Model.ProductName</dd>

        <dt class="col-sm-3">Seller:</dt>
        <dd class="col-sm-9">@ViewBag.sellername.username</dd>

        <dt class="col-sm-3">Product Description:</dt>
        <dd class="col-sm-9">@Model.ProductDescription</dd>

        <dt class="col-sm-3">Minimum Bid Amount:</dt>
        <dd class="col-sm-9">@Model.MinimumBidAmount</dd>

        <dt class="col-sm-3">Auction Start Date:</dt>
        <dd class="col-sm-9">@Model.AuctionStartDate</dd>

        <dt class="col-sm-3">Auction End Date:</dt>
        <dd class="col-sm-9">@Model.AuctionEndDate</dd>

        <dt class="col-sm-3">Status:</dt>
        <dd class="col-sm-9">@Model.ItemCondition</dd>

        <dt class="col-sm-3">Category:</dt>
        <dd class="col-sm-9">@ViewBag.catname.Name</dd>

        <dt class="col-sm-3">Condition:</dt>
        <dd class="col-sm-9">@ViewBag.conname.Name</dd>

        <dt class="col-sm-3">Location:</dt>
        <dd class="col-sm-9">@Model.Location</dd>
        

        <dt class="col-sm-3">Image URL</dt>
        <dd><img style="width:250px; height:250px" alt="@Model.ProductName" src=@Model.ImageUrl></dd>


    </dl>
</div>

<tr>
    <td>
        <a asp-controller="Item" asp-action="Edit"
           asp-route-id="@Model.ItemId">Edit</a>
    </td>

    <td>
        <a asp-controller="Item" asp-action="Delete"
           asp-route-id="@Model.ItemId">Delete</a>
    </td>

    <td><a asp-controller="Home" asp-action="Asset">Home</a></td>
</tr>





